tl/french/common.rpyc
tl/french/ep1.rpyc
tl/french/ep2d1.rpyc
tl/french/ep2d2.rpyc
tl/french/ep2d3.rpyc
tl/french/ep2d4.rpyc
tl/french/ep2d5.rpyc
tl/french/ep2d6.rpyc
tl/french/ep2d7.rpyc
tl/french/ep3.rpyc
tl/french/jumpepisode.rpyc
tl/french/options.rpyc
tl/french/screens.rpyc
tl/french/script.rpyc